body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
}

input{
    margin-bottom: 16px
}

span{
    margin-left: 16px;
    color: #374d77;
}

table {
    width: 50% ;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

td{
    padding: 4px;
}

img {
    max-width: 100px; 
    height: auto; 
    display: block; 
    margin: 0 auto;   
}